# Pliki obiektowe
*.o

# Katalogi buildów
/build/
/bin/
/debug/
/release/

# Pliki generowane przez CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Ignoruj Makefile tylko w build/
build/Makefile

# Konfiguracje VSCode
.vscode/
